@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>About</h1>
</hgroup>

<article>
    <p>About us blah blah blah</p>
    <p>About us blah blah blah</p>
    <p>About us blah blah blah</p>
</article>
