@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>About</h1>
</hgroup>

<article>
    <p>ABMZ Ticketing system is an easy to use, easy to navigate system that allows its users to buy and sell tickets.</p>
    <p>The system was developed by four students at Kennesaw State University as their capstone project.</p>
    <p>The ABMZ Ticketing system is a prototype and does not guarantee secure transactions or secure information transfer for any of its users.</p>
</article>
