@model Ticketing.Framework.Models.Ticket.BuyTicketsVM
@{
    ViewBag.Title = "BuyTickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1>Buy Tickets</h1>
</hgroup>

<section class="content-wrapper main-content clear-fix">
<article>
    @foreach (var perf in Model.Performances)
    {
        @Html.Partial("/Views/Shared/Partial/PerformanceGrid.cshtml", perf)
    }
</article>
<aside>
    <div class="box">

    </div>
</aside>
</section>
