@model Ticketing.Framework.Models.Ticket.EventVM
@{
    ViewBag.Title = "EventDetail";
}

<hgroup class="title">
    <h1>@Model.Name</h1>
</hgroup>

@foreach (var perf in Model.Performances)
{
    @Html.Partial("/Views/Shared/Partial/PerformanceGrid.cshtml", perf)
}