@model List<Ticketing.Framework.Models.Ticket.EventVM>
@{
    ViewBag.Title = "EventList";
}

<hgroup class="title">
    <h1>Event List</h1>
</hgroup>


@foreach (var ev in Model)
{
    <div class="box col45">
        <p><b>@ev.Name</b></p>
        <p>@ev.Location</p>
        <p>@ev.Description</p>
        <p>@Html.ActionLink("Event Details", "EventDetails", new { controller = "Event", id = ev.Id }, new { @class = "view" })</p>
    </div>
}